<div class="form-group row row-no-margin" ng-class="{ 'has-error': required && !isValid, 'has-warning': !required && !isValid }">
    <label class="control-label col-sm-2 question-label">{{question}}</label>
    <div class="col-sm-10" ng-show="multiple">
        <label class="checkbox-inline" ng-repeat="option in options">
            <input type="checkbox" data-row="0" data-column="{{$index}}" value="{{option.value}}" class="rs_question_{{$parent.$id}}_0_{{$index}}">{{option.text}}
        </label>
        <label class="checkbox-inline ng-binding ng-scope form-inline input-inline-fix" ng-show="allowCustomValue">
            <input data-row="0" value="" class="rs_question_{{$id}}_0_custom" type="checkbox">Inna odpowiedź: <input class="form-control rs_question_{{$id}}_0_custom_value" type="text" data-row="0">
        </label>
    </div>
    <div class="col-sm-10" ng-show="!multiple">
        <label class="radio-inline" ng-repeat="option in options">
            <input type="radio" data-row="0" data-column="{{$index}}" value="{{option.value}}" name="radio_{{::$parent.$id}}_0" class="rs_question_{{$parent.$id}}_0_{{$index}}">{{option.text}}
        </label>
        <label class="radio-inline ng-binding ng-scope form-inline input-inline-fix" ng-show="allowCustomValue">
            <input data-row="0" value="" class="rs_question_{{$id}}_0_custom" type="radio" name="radio_{{::$id}}_0">Inna odpowiedź: <input class="form-control rs_question_{{$id}}_0_custom_value" type="text" data-row="">
        </label>
    </div>
</div>